.leftContainer {
    display: flex;
    align-items: center;
    height: 100%;
}
.logoContainer {
    line-height: 1;
}
.logo {
    height: 36px;
}
.accountButtonContainer {
    padding: 6px 0;
    width: 100%;
}