.left-container {
    display: flex;
    align-items: center;
    height: 100%;
}
.logo-container {
    line-height: 1;
}
.logo {
    height: 36px;
}
.account-btn-container {
    padding: 6px 0;
    width: 100%;
}